@model List<Slider>
@{
    ViewData["Title"] = "Liste - Slider";
    Layout = "~/Views/Shared/_ManagementPanelLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        Sliderlar
        <a asp-controller="ManagementPanel" asp-action="AddSlider" class="btn btn-sm btn-warning float-right">Ekle</a>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var slider in Model)
            {
                <div class="col-12 col-lg-6 col-md-6" id="cont-@slider.Id">
                    <div class="card">
                        <div class="card-body p-3 d-flex align-items-center overflow-hidden">
                            <div class="bg-gradient-primary mfe-3">
                                <img style="max-height: 100px" src="~/image/slider/@slider.Source" />
                            </div>
                            <div>
                                <div class="text-muted text-uppercase font-weight-bold small">@slider.Name</div>
                            </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                            <button type="button" class="btn btn-sm btn-danger btnDel" value="@slider.Id">
                                <i class="fas fa-trash"></i>
                            </button>
                            <a class="btn btn-sm btn-warning" asp-controller="ManagementPanel" asp-action="UpdateSlider" asp-route-id="@slider.Id">
                                <i class="fas fa-pen"></i>
                            </a>
                            <label class="c-switch c-switch-label c-switch-pill c-switch-success float-right">
                                <input class="c-switch-input isActive" type="checkbox" value="@slider.Id" @Html.Raw(slider.IsActive ? "checked" : "")><span class="c-switch-slider" data-checked="✓" data-unchecked="✕"></span>
                            </label>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(".isActive").change(function () {
            let id = $(this).val();
            $.ajax({
                type: "POST",
                url: "/panel/slider/isactive",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function () {
                    toastr.success("Durum güncellemesi başarılı","İşlem başarılı");
                }
            });
        });
    </script>
    <script>


        $(".btnDel").click(function () {
            let id = $(this).val();
            var item = $("#cont-" + id);
            bootbox.confirm("Silmek istediğinizden emin misiniz?",
                function (result) {

                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "/panel/slider/sil",
                            data: { id: id },
                            dataType: 'json',
                            success: function () {
                                item.animate({ opacity: 0 }, function () {
                                    this.remove();
                                });

                                toastr.success("Silme işlemi başarılı...", "İşlem başarılı");
                            }
                        });
                    }

                });
        });


    </script>
}
