@model List<Entities.Concrete.CategoryImage>
@{
    ViewData["Title"] = "Liste - Ketegori";
    Layout = "~/Views/Shared/_ManagementPanelLayout.cshtml";
}



<div class="card">
    <div class="card-header">
        Kategoriler
        <a asp-controller="ManagementPanel" asp-action="AddGalleryCategory" class="btn btn-sm btn-warning float-right">Ekle</a>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered datatable">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Durum</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr id="cont-@category.Id">
                        <td>@category.Name</td>
                        <td>
                            <label class="c-switch c-switch-label c-switch-pill c-switch-success">
                                <input class="c-switch-input isActive" type="checkbox" value="@category.Id" @Html.Raw(category.IsActive ? "checked" : "")><span class="c-switch-slider" data-checked="✓" data-unchecked="✕"></span>
                            </label>

                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger btnDel" value="@category.Id">
                                <i class="fas fa-trash"></i>
                            </button>
                            <a class="btn btn-sm btn-warning" asp-controller="ManagementPanel" asp-action="UpdateGalleryCategory" asp-route-id="@category.Id">
                                <i class="fas fa-pen"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts
{
    <script>
        $(".isActive").change(function () {
            let id = $(this).val();
            $.ajax({
                type: "POST",
                url: "/panel/kategori/isactive",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function () {
                    toastr.success("Durum güncellemesi başarılı", "İşlem başarılı");
                }
            });
        });
    </script>
    <script>


        $(".btnDel").click(function () {
            let id = $(this).val();
            var item = $("#cont-" + id);
            bootbox.confirm("Silmek istediğinizden emin misiniz?",
                function (result) {

                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "/panel/kategori/galeri/sil",
                            data: { id: id },
                            dataType: 'json',
                            success: function () {
                                item.animate({ opacity: 0 }, function () {
                                    this.remove();
                                });

                                toastr.success("Silme işlemi başarılı...", "İşlem başarılı");
                            }
                        });
                    }

                });
        });


    </script>

    <script src="~/admin/js/datatables.js"></script>
}
